<web-app version="3.1"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <listener>
        <listener-class>org.example.ListenerTemplate</listener-class>
    </listener>

    <servlet>
        <servlet-name>ServletTemplate</servlet-name>
        <servlet-class>org.example.ServletTemplate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletTemplate</servlet-name>
        <url-pattern>/template</url-pattern>
    </servlet-mapping>

</web-app>
